.app {
  padding: 10px;
  margin: 0;
  font-family: Roboto, sans-serif;
}
.app-container {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  padding-top: 160px;
}

.drawer {
  flex: 0 1 300px;
  background-color: hsl(214, 24%, 11%);
  padding: 10px 0 0 10px;
  color: white;
}
